{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    {% include '@FOSUser/profile/profile_nav.html.twig' %}
    {% if projects %}

    <div class="container">
        {% for project in projects %}
        {% include 'project/project.html.twig' %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
